* {
    padding: 0;
    margin: 0;
}

.header {
    height: 50vh;
    width: 100%;
    background-image: url(cars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topnav {
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.topnav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.topnav ul li a {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-right: 50px;
    padding: 10px;
}

.topnav ul li a:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.6s;
}

.logo img {
    height: 50px;
    margin-left: 30px;
}

@media (max-width: 628px) {
    .header {
        width: 160%;
    }
    .main {
        width: 160%;
    }
}